/*
*  Imported Bootstrap dependencies
*/

@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "custom-forms";

// themes/ will be replaed by the respective theme file in gulp
@import "themes/";

h1, h2 {
        color: $txt_color;
}

body {
  background-color: $bg_color;
  text {
    color: $txt_color;
  }
}